@media (max-width: 690px) {
  .experience__title {
    margin-left: 26px;
  }
  .education__title {
    margin-left: 26px;
  }
}

@media (max-width: 490px) {
  .visible {
    width: 100vw;
  }
}

@media (max-width: 580px) {
  .btn__wrapper {
    flex-direction: column;
  }
}
