.project__photo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 20px;
  margin-top: 20px;
  position: relative;
}

.project__photo-container:hover .photo__descritpion{
  top: -22px;
  transition: 0.3s;
  opacity: 1;
  z-index: 0;
}

.photo__descritpion {
  border-radius: 6px;
  background: #303841;
  font-size: 10px;
  color: white;
  padding: 3px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
  opacity: 0;
  transition: 0.3s;
}

.project__prev-slide-layout {
  background: #f0f5f9;
  position: absolute;
  border: none;
  top: 0;
  bottom: 0;
  left: 0;
  width: 60px;
}

.project__prev-slide-layout:focus {
  outline: none;
}

.project__prev-slide-layout:focus .prev-slide{
  opacity: 1;
}

.prev-slide, .next-slide {
  position: absolute;
  width: 30px;
  height: 40px;
  top: 50%;
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0.6;
  transition: 0.3s;
  color: #303841;
}

.prev-slide {
  transform: translateY(-50%);
  left: 0;
  cursor: pointer;
}

.prev-slide:active, .next-slide:active {
  width: 25px;
  height: 35px;
  opacity: 1;
}

.prev-slide:focus, .next-slide:focus {
  opacity: 1;
}

.next-slide {
  transform:  translateY(-50%);
  right: 0;
  cursor: pointer;
}

.project__next-slide-layout {
  background: #f0f5f9;
  position: absolute;
  border: none;
  top: 0;
  bottom: 0;
  right: 0;
  width: 60px;
}

.project__next-slide-layout:focus {
  outline: none;
}

.project__next-slide-layout:focus .next-slide{
  opacity: 1;
}

.project__prev-slide-layout:hover .prev-slide, .project__next-slide-layout:hover .next-slide {
  opacity: 1;
  transition: 0.3s;
}

.project__photo-wrapper {
  width: 25%;
  height: 90%;
  opacity: 0.6;
  transition: 0.5s;
  cursor: pointer;
  position: relative;
}

.active {
  transform: scale(130%);
  opacity: 1;
  z-index: 1;
  transition: all 0.5s;
}

.project__photo-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 6px;
}

.photo__nav-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 5px;
  margin-top: 30px;
}

.dot {
  margin-top: 10px;
  width: 5px;
  height: 5px;
  background: #303841;
  border-radius: 50%;
}
