.left-side__wrapper {
  width: 35%;
  background: #303841;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.left-side__wrapper::before {
  content: '';
  position: absolute;
  width: 100px;
  height: 100px;
  top: 350px;
  right: -20px;
  background: #1B262C;
  border-radius: 6px;
  transform: rotate(58deg);
  box-shadow: 0px 0px 8px 6px #1B262C, 0px 0px 8px 6px #D72323;
  z-index: 0;
  opacity: 0.8;
}

.left-side__wrapper::after {
  content: '';
  position: absolute;
  width: 100px;
  height: 100px;
  top: 700px;
  left: -40px;
  background: #1B262C;
  box-shadow: 0px 0px 8px 6px #1B262C, 0px 0px 8px 6px #0F4C75;
  border-radius: 6px;
  transform: rotate(45deg);
  z-index: 0;
  opacity: 0.8;
}

.photo__wrapper {
  width: 100%;
  height: 60vh;
  position: relative;
}

.photo__wrapper img {
  width: 100%;
  height: 100%;
  object-position: center;
  object-fit: cover;
}

.photo__info-wrapper {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 6px;
  backdrop-filter: blur(10px);
  width: 90%;
  height: 30%;
  box-shadow: 0px 0px 5px 1px #3e3a41;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.photo__info-wrapper span:nth-child(1) {
  font-weight: bold;
  font-size: 28px;
  text-transform: uppercase;
  letter-spacing: 7px;
  color: white;
}

.photo__info-wrapper span:nth-child(2) {
  font-weight: bold;
  color: white;
  opacity: 0.6;
  text-transform: uppercase;
  position: relative;
}

.photo__info-wrapper span:nth-child(2)::after {
  content: '';
  position: absolute;
  top: 50%;
  right: -65px;
  transform: translateX(-50%);
  width: 40px;
  height: 1px;
  background: #3e3a41;
}

.photo__info-wrapper span:nth-child(2)::before {
  content: '';
  position: absolute;
  top: 50%;
  left: -25px;
  transform: translateX(-50%);
  width: 40px;
  height: 1px;
  background: #3e3a41;
}

/* -----------Общий блок навыков------------- */

.skills__wrapper {
  padding-left: 20px;
  height: 100%;
}

/* -----------Софт скиллс------------ */

.software__wrapper {
  margin: 20px 0px;
  display: flex;
  flex-direction: column;
}

.software__wrapper span {
  display: block;
  margin: 10px 0px;
  font-weight: bold;
  font-size: 18px;
  color: white;
}

.software__wrapper ul {
  display: flex;
  flex-wrap: wrap;
  column-gap: 5px;
  z-index: 1;
}


.software__wrapper ul li {
  display: inline-block;
  font-size: 14px;
  padding: 5px 20px;
  border-radius: 6px;
  background: #f0f5f9;
  column-gap: 10px;
  color: #303841;
  cursor: default;
  font-weight: bold;
}

.soft-skills__wrapper {
  margin: 20px 0px;
  display: flex;
  flex-direction: column;
}

.soft-skills__wrapper span {
  display: block;
  margin: 10px 0px;
  font-weight: bold;
  font-size: 18px;
  color: white;
}

.soft-skills__wrapper ul {
  display: flex;
  font-size: 14px;
  font-weight: normal;
  flex-wrap: wrap;
  column-gap: 5px;
  row-gap: 5px;
}

.soft-skills__wrapper ul li {
  display: inline-block;
  padding: 5px 20px;
  border-radius: 6px;
  background: #f0f5f9;
  color: #303841;
  cursor: default;
  font-weight: bold;
}


.contacts__wrapper {
  margin: 20px 0px;
}

.contacts__title {
  display: block;
  margin: 10px 0px;
  font-weight: bold;
  font-weight: 18px;
  color: white;
}

.contacts__wrapper ul {
  display: flex;
  justify-content: center;
  flex-direction: column;
  row-gap: 10px;
}

.contact__wrapper {
  display: flex;
  align-items: center;
  column-gap: 8px;
  z-index: 1;
}

.img__wrapper {
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  background: #f0f5f9;
}

.contact__wrapper span {
  font-size: 20px;
}

.contact__wrapper span a {
  padding: 5px 20px;
  display: flex;
  border-radius: 6px;
  background: #f0f5f9;
  color: #303841;
  font-size: 14px;
  cursor: default;
  text-decoration: none;
  font-weight: bold;
}
