@import URL()'https://kit.fontawesome.com/0f29bf93fe.js');

.right-side__wrapper {
  background: #F0F5F9;
  padding-left: 20px;
  padding-right: 20px;
  width: 65vw;
}

.visible {
  width: 65vw;
  height: auto;
  overflow: visible;
  visibility: visible;
  opacity: 1;
  transition: 0.5s;
}

.hidden {
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
  transition: 0.5s, visibility 0s 0.5s;
}


.right-side__wrapper header {
  margin-top: 40px;
  background: #303841;
  padding: 10px;
  border-radius: 6px;
  margin-bottom: 30px;

}

.right-side__wrapper header h1 {
  color: white;
  padding: 10px 0px;
  font-size: 26px;
}

.right-side__wrapper header p {
  color: #DDE7F2;
  font-weight: normal;
  text-align: justify;
  font-size: 14px;
}

.experience__wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.experience__title, .education__title {
  display: flex;
  align-items: center;
  column-gap: 5px;
  margin-left: 25px;
  margin-bottom: 10px;
  color: #303841;
  overflow: hidden;
}

.experience__title h3, .education__title h3 {
  width: 150px;
}

.btn__wrapper {
  margin-left: 15px;
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border-radius: 6px;
  cursor: pointer;
}

.btn__wrapper:hover {
  transition: 0.3;
  background: #DBE2EF;
}

.btn__open-additional-info {
  background: transparent;
  border: none;
  height: 100%;
  padding: 8px;
  border-radius: 6px;
  transition: 0.3;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  color: #233142;
  cursor: pointer;
}

.btn__open-additional-info:focus {
  outline: none;
  border: none;
  background: #DBE2EF;
}

.btn__icon-active {
  width: 14px;
  height: 14px;
  transform: rotate(180deg);
  object-fit: cover;
  transition: 0.3s;
}

.btn__icon-passive {
  width: 14px;
  height: 14px;
  transform: rotate(360deg);
  object-fit: cover;
  transition: 0.3s;
}

.experience-img__wrapper {
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #DBE2EF;
  border-radius: 50%;
  position: relative;
}

.experience-img__wrapper::after {
  content: '';
  position: absolute;
  bottom: -285px;
  right: 50%;
  transform: translateY(-50%);
  width: 2px;
  height: 180px;
  background: #303841;
}

.job__wrapper, .education__item-wrapper {
  display: flex;
  column-gap: 28px;
  align-items: center;
  transition: 0.3s;
  opacity: 1;
  visibility: visible;
}

.jobs__wrapper-hidden, .educations__wrapper-hidden {
  width: 0;
  height: 0;
  visibility: hidden;
  opacity: 0;
}

.jobs__wrapper-visible, .educations__wrapper-visible {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  transition: 0.3s;
}

.years__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  cursor: default;
}

.years__wrapper::before {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  top: 50%;
  right: -20px;
  transform: translateY(-50%);
  border-radius: 50%;
  background: #303841;
}

.years__wrapper span {
  font-size: 14px;
  opacity: 0.6;
}

.years__wrapper span:nth-child(1) {
  position: relative;
}

.years__wrapper span:nth-child(1)::after {
  content: '';
  position: absolute;
  width: 30px;
  bottom: 0;
  left: 0px;
  height: 1px;
  background: #303841;
}


.job-about__wrapper, .education-about__wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  row-gap: 7px;
  background: #303841;
  border-radius: 6px;
  padding: 10px;
  position: relative;
}

.job-about__wrapper::before, .education-about__wrapper::before {
  content: '';
  position: absolute;
  left: -5px;
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
  width: 10px;
  height: 10px;
  background: red;
  background: #f0f5f9;
}

.job-position {
  font-weight: bold;
  color: white;
}

.job-name {
  opacity: 0.6;
  font-size: 12px;
  color: white;
}

.job-activity, .education-activity {
  color: white;
  font-size: 14px;
}

.education__wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  margin-top: 20px;
}

.education-img__wrapper {
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #DBE2EF;
  border-radius: 50%;
  position: relative;
}

.education-img__wrapper::after {
  content: '';
  position: absolute;
  bottom: -230px;
  right: 50%;
  transform: translateY(-50%);
  width: 2px;
  height: 150px;
  background: #112D4E;
}

.education-name {
  color: white;
}

.icon {
  color: black;
}

/* ------ Пэт проект ----*/

.project__wrapper {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  margin-bottom: 10px;
}

.project__title-wrapper {
  display: flex;
  column-gap: 5px;
  align-items: center;
}

.project__title {
  text-transform: uppercase;
  color: #233142;
  font-size: 16px;
}

.icon__wrapper {
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #DBE2EF;
  margin-left: 26px;
  border-radius: 50%;
}

.pet-project {
  position: relative;
}

.pet-project::after {
  content: '';
  position: absolute;
  bottom: -18px;
  left: 50%;
  width: 10px;
  height: 10px;
  background: red;
  transform: rotate(45deg) translateX(-50%);
  z-index: 2;
  background: #f0f5f9;
}

.icon__wrapper img {
  width: 25px;
  height: 25px;
  object-fit: cover;
  object-position: center;
}

.project__photo-title {
  display: flex;
  align-items: center;
  column-gap: 5px;
}

.project__photo-title {
  color: #233142;
}

.project__description {
  /* height: 100px; */
  border-radius: 6px;
  color: #DDE7F2;
  background: #303841;
  padding: 10px;
  font-size: 14px;
  position: relative;
}

.project__description h3 {
  margin: 10px 0px;
  color: white;
  font-size: 24px;
}
