.left-side__wrapper {
  width: 35vw;
  background: #303841;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.left-side__wrapper::before {
  content: '';
  position: absolute;
  width: 100px;
  height: 100px;
  top: 350px;
  right: -20px;
  background: #1B262C;
  border-radius: 6px;
  transform: rotate(58deg);
  box-shadow: 0px 0px 8px 6px #1B262C, 0px 0px 8px 6px #D72323;
  z-index: 0;
  opacity: 0.8;
}

.left-side__btn {
  position: absolute;
  top: 5px;
  right: 5px;
  padding: 10px;
  z-index: 2;
  cursor: pointer;
  background: #f0f5f9;
  border-radius: 6px;
  transition: 0.3s;
}

.left-side__wrapper::after {
  content: '';
  position: absolute;
  width: 100px;
  height: 100px;
  top: 700px;
  left: -40px;
  background: #1B262C;
  box-shadow: 0px 0px 8px 6px #1B262C, 0px 0px 8px 6px #0F4C75;
  border-radius: 6px;
  transform: rotate(45deg);
  z-index: 0;
  opacity: 0.8;
}

.photo__wrapper {
  width: 100%;
  height: 60vh;
  position: relative;
}

.photo__wrapper img {
  width: 100%;
  height: 100%;
  object-position: top;
  object-fit: cover;
}

.photo__info-wrapper {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 6px;
  backdrop-filter: blur(10px);
  width: 90%;
  height: 30%;
  box-shadow: 0px 0px 5px 1px #f0f5f9;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.photo__info-wrapper span:nth-child(1) {
  white-space: nowrap;
  font-weight: bold;
  font-size: 28px;
  text-transform: uppercase;
  letter-spacing: 7px;
  color: white;
  overflow: hidden;
}


.photo__info-wrapper span:nth-child(2) {
  font-weight: bold;
  font-size: 20px;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  position: relative;
  opacity: 0.8;
  white-space: nowrap;
}

/* -----------Общий блок навыков------------- */

.skills__wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  margin: 0px auto;
  padding-bottom: 20px;
  width: 90%;
}

.skill__wrapper {
  display: flex;
  flex-direction: column;
}

.center {
  display: flex;
  flex-direction: column;
}

/* -----------Софт скиллс------------ */

.skill__title {
  display: block;
  margin: 10px 0px;
  font-weight: bold;
  font-size: 18px;
  color: white;
  z-index: 1;
}

.skill__container {
  display: flex;
  flex-wrap: wrap;
  column-gap: 15px;
  z-index: 1;
  row-gap: 5px;
}

.skill__container li {
  display: inline-block;
  font-size: 14px;
  border-radius: 6px;
  background: #f0f5f9;
  column-gap: 10px;
  color: #303841;
  cursor: default;
  font-weight: bold;
}

.skill {
  padding: 5px 20px
}

.img__wrapper {
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  padding: 2px;
  background: #f0f5f9;
}

.contacts li {
  display: flex;
  column-gap: 4px;
  background: inherit;
}

.contacts span a {
  padding: 7px 20px;
  display: flex;
  border-radius: 6px;
  background: #f0f5f9;
  color: #303841;
  font-size: 14px;
  cursor: default;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
}
