@media (max-width: 980px) {
  .photo__info-wrapper span:nth-child(1) {
    font-size: 22px;
    letter-spacing: 4px;
  }
  .photo__info-wrapper span:nth-child(2) {
    font-size: 14px;
  }
}

@media (max-width: 790px) {
  .photo__info-wrapper span:nth-child(1) {
    font-size: 18px;
    letter-spacing: 4px;
  }
  .photo__info-wrapper span:nth-child(2) {
    font-size: 12px;
  }
}

@media (max-width: 611px) {
  .photo__info-wrapper span:nth-child(1) {
    font-size: 16px;
    letter-spacing: 4px;
  }
  .photo__info-wrapper span:nth-child(2) {
    font-size: 11px;
  }
  .photo__wrapper {
    height: 50vh;
  }
  .skill {
    font-size: 12px;
    padding: 7px 10px;
  }
  .skill__container li {
    font-size: 12px;
  }
  .contacts span a {
    font-size: 12px;
    padding: 7px 10px;
  }
  .photo__info-wrapper {
    width: 90%;
    height: 30%;
  }
}

@media (max-width: 560px) {
  .photo__info-wrapper span:nth-child(1) {
    font-size: 14px;
  }
  .photo__info-wrapper span:nth-child(2) {
    font-size: 10px;
  }
  .photo__info-wrapper {
    height: 20%;
  }
}

@media (max-width: 490px) {
  .left-side__wrapper {
    width: 100%;
  }
  .left-side__btn {
    position: fixed;
    background: #dbe2ef;
  }
  .photo__wrapper {
    height: 60vh;
  }
  .photo__info-wrapper span:nth-child(1) {
    font-size: 24px;
  }
  .photo__info-wrapper span:nth-child(2) {
    font-size: 16px;
  }
}

@media (max-width: 324px) {
  .skill__wrapper {
    align-items: center;
  }
  .skill__container {
    justify-content: center;
  }
  .photo__info-wrapper {
    width: 90%;
    height: 20%;
  }
  .photo__info-wrapper span:nth-child(1) {
    font-size: 20px;
  }
  .photo__info-wrapper span:nth-child(2) {
    font-size: 14px;
  }
}

@media (max-width: 280px) {
  .photo__info-wrapper span:nth-child(1) {
    font-size: 16px;
  }
  .photo__info-wrapper span:nth-child(2) {
    font-size: 12px;
  }
}
